.mapping
{
    display: grid;
    grid-template-columns: 1fr ;
    width: 100%;
    padding: 1rem;
}
@media screen and ( min-width:800px)
{
    .mapping
    {
        grid-template-columns: 1fr 1fr;
    }
    
}
.Card
{
    margin: 1rem;
}
.form-background
{
    background-image: url("https://image.freepik.com/free-photo/flat-lay-working-woman-pink-desk_23-2148404505.jpg");
    padding:2rem;
}
.label
{
    font-weight: 800;
    color:blue;
}
