.App {
  text-align: center;
 
background-image: url("https://images.homedepot-static.com/productImages/f9ce014d-e716-45af-b4cd-2b604ea4d71d/svn/gray-green-ivy-hill-tile-ceramic-tile-ext3rd101916-64_400_compressed.jpg");
background-repeat: repeat-y;
background-size: cover;
min-height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
